# This is configuration file of ichange. 

# location of change.log  
log_path = "ichange.log"

# Monitor interval. default is 5s( must > 1s)
interval = 5

# Monitor directory, default is /tmp 
directory = "/home/faye/ichanged"

# Skip file or directory specified by PATH, separate directories with ",", like:
# exclude = ["xxx", "yyy"]
exclude = [] 

# Threshold to show change when size of files beyonds it.
threshold = 0

# Watch hidden files and directories
watch_hidden = false
